<link rel="stylesheet" href="css/style.css">
<h1>Registrera till SkolaSoft!</h1>
<form action="/register" method="POST">
  <div>
    <label for="name">Namn</label><br>
    <input type="text" id="name" name="name" required><br>
  </div>
  <div>
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" required><br>
  </div>
  <div>
    <label for="password" id="passwordl">Lösenord</label><br>
    <input type="password" id="password" name="password" required><br>
  </div>
  <button type="submit">Registrera på SkolaSoft!</button><br>
</form>
<a href="/login"><button id="Btn">Logga In</button></a>